.navWrapper {
  height: inherit;
}

.link {
  text-decoration: none;
}

.menuLink {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xl);
  color: var(--mantine-color-black);
  text-decoration: underline transparent;
  text-underline-offset: 6px;
  transition: text-decoration-color 0.1s ease-in;
}

.menuLink:hover {
  text-decoration-color: var(--mantine-color-black);
  transition: text-decoration-color 0.5s ease-out;
}
