.productCell {
  background-color: transparent;
  color: var(--mantine-color-black);
  text-decoration: none;
}

.buttonCell {
  display: flex;
  align-items: start;
  justify-items: 'start';
}
