.buttonText {
  text-decoration: none;
  text-transform: uppercase;
  color: #3d405b;
  border-color: #3d405b;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.buttonText:hover {
  color: var(--mantine-color-white);
  background-color: #3d405b;
}

.activeButton {
  color: var(--mantine-color-white);
  background-color: #3d405b;
}
